assign [class="Foo"] 2
assign [instance=Bar] 10
assign [window_role="Foo with spaces"] output DP-0
assign [con_id=$my_variable] workspace 3
assign [id="Foo"] 5
assign [window_type="Foo"] "my workspace"
assign [con_mark="Foo"] $a_variable
assign [title="Foo"] → 1
assign [urgent="Foo"] → workspace 1
assign [workspace="Foo"] → number 7
assign [machine="Foo"] workspace 2
assign [floating_from="auto"] number 9
assign [tiling_from="user"] output HDMI-0
assign [floating_from=auto] 4
assign [tiling_from=user] output "some output"
assign [tiling] output $variable
assign [floating] workspace 0
assign [all tiling_from=auto class=$var] output HDMI-2
assign [instance=something urgent="something with spaces"] 2
assign [tiling floating workspace="a workspace"] → workspace 10
