bindsym  $mod+Shift+1   border    none
bindsym     $mod+Shift+2      border       1pixel
bindsym        $mod+Shift+3         border          normal
bindsym           $mod+Shift+4            border             pixel
bindsym              $mod+Shift+5               border                toggle
bindsym                 $mod+Shift+6                  border                   normal                    2
bindsym                     $mod+Shift+7                      border                       pixel                        3
bindsym                         $mod+Shift+8                          border                           toggle                            4
