bindsym $mod+a focus tiling
bindsym $mod+b focus floating
bindsym $mod+c focus mode_toggle
bindsym $mod+d focus parent
bindsym $mod+e focus child
bindsym $mod+f focus left
bindsym $mod+g focus right
bindsym $mod+h focus up
bindsym $mod+i focus prev
bindsym $mod+j focus next
bindsym $mod+k focus prev sibling
bindsym $mod+l focus next sibling
bindsym $mod+m focus output HDMI-1
