for_window [class="Foo"] border none
for_window [instance=Bar] exec kitty
for_window [window_role="Foo with spaces"] floating enable
for_window [con_id=$my_variable] fullscreen disable
for_window [id="Foo"] kill window
for_window [window_type="Foo"] layout stacking
for_window [con_mark="Foo"] mode foo
for_window [title="Foo"] move window to position 1482 828
for_window [urgent="Foo"] resize shrink down 6
for_window [workspace="Foo"] scratchpad show
for_window [machine="Foo"] split horizontal
for_window [floating_from="auto"] sticky enable
for_window [tiling_from="user"] workspace next
for_window [floating_from=auto] border none; exec kitty; floating enable
for_window [tiling_from=user] kill window; fullscreen enable
for_window [tiling] layout tabbed; split vertical
for_window [floating] resize set 200 100
for_window [all tiling_from=auto class=$var] border 1pixel
for_window [instance=something urgent="something with spaces"] floating toggle; resize set 1000 1000
for_window [tiling floating workspace="a workspace"] workspace 1
