bindsym $mod+a layout default
bindsym $mod+b layout tabbed
bindsym $mod+c layout stacking
bindsym $mod+d layout splitv
bindsym $mod+e layout splith
bindsym $mod+f layout toggle split
bindsym $mod+g layout toggle all
bindsym $mod+h layout toggle split stacking
bindsym $mod+i layout toggle split tabbed
bindsym $mod+j layout toggle split tabbed stacking splitv splith
bindsym $mod+k layout toggle tabbed splitv
bindsym $mod+l layout toggle splith tabbed
bindsym $mod+m layout toggle stacking splith
