mode "newline" {

}
mode "comments" {
 # Comment
 # Comment1
 # Comment2
}
mode "bindings" {
 bindsym --release $mod+Return exec kitty
 bindsym $mod+b exec chromium
 bindsym $mod+Shift+s exec kitty --hold weechat
 bindsym XF86AudioRaiseVolume exec amixer sset Master 5%+ 
 bindsym XF86AudioLowerVolume exec amixer sset Master 5%-
 bindsym XF86AudioMute exec amixer sset Master toggle 
 bindsym $mod+d exec dmenu_run
 bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
}
mode "empty"{
}
mode --pango_markup "pango" {
 # Pango test
}
mode --pango_markup "pango_no_space"{
 # Pango test
}
mode "set" {
 set $var foo
 set $something something with spaces
 set $variable_name "quoted string"
}
mode "all"{
 # Comment

 bindsym Return mode "default"
 bindsym --release $mod+Return exec kitty
 bindsym $mod+b exec chromium
 bindsym $mod+Shift+s exec kitty --hold weechat
 bindsym XF86AudioRaiseVolume exec amixer sset Master 5%+ 
 bindsym XF86AudioLowerVolume exec amixer sset Master 5%-
 bindsym XF86AudioMute exec amixer sset Master toggle 
 bindsym $mod+d exec dmenu_run
 bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
 set $var foo
 set $something something with spaces
 set $variable_name "quoted string"
}
