bindsym  $mod+Shift+1   resize    shrink     left      1       or        2
bindsym         $mod+Shift+2          resize           grow            left             3px              or               4ppt
bindsym                $mod+Shift+3                 resize                  grow                   right                    5px
bindsym                     $mod+Shift+4                      resize                       shrink                        down                         6
bindsym                          $mod+Shift+5                           resize                            shrink                             width
bindsym                              $mod+Shift+6                               resize                                set                                 7
bindsym                                  $mod+Shift+7                                   resize                                    set                                     width                                      8px
bindsym                                       $mod+Shift+8                                        resize                                         set                                          width                                           9px                                            height                                             10ppt
bindsym                                              $mod+Shift+9                                               resize                                                set                                                 11                                                  12
bindsym                                                   $mod+Shift+0                                                    resize                                                     set                                                      height                                                       13
bindsym                                                        $mod+Shift+a                                                         resize                                                          set                                                           height                                                            14px
