bindsym $mod+Shift+1 split vertical
bindsym $mod+Shift+2 split horizontal
bindsym $mod+Shift+3 split toggle
bindsym $mod+Shift+4 split v
bindsym $mod+Shift+5 split h
bindsym $mod+Shift+6 split t
bindsym $mod+Shift+7 split                   vertical
bindsym $mod+Shift+8 split    horizontal
bindsym $mod+Shift+9 split  toggle
bindsym $mod+Shift+a split                v
bindsym $mod+Shift+b split        h
bindsym $mod+Shift+c split      t
