bindsym $mod+Shift+1 workspace next_on_output
bindsym $mod+Shift+2 workspace prev_on_output
bindsym $mod+Shift+3 workspace next
bindsym $mod+Shift+4 workspace prev
bindsym $mod+Shift+5 workspace number 100
bindsym $mod+Shift+6 workspace foo bar baz
bindsym $mod+Shift+7 workspace "super cool workspace name"
bindsym $mod+Shift+a workspace  next_on_output
bindsym $mod+Shift+b workspace   prev_on_output
bindsym $mod+Shift+c workspace    next
bindsym $mod+Shift+d workspace     prev
bindsym $mod+Shift+e workspace      number       100
bindsym $mod+Shift+f workspace        foo         bar          baz
bindsym $mod+Shift+g workspace           "super               cool                 workspace                      name"
