bindsym $mod+Shift+1 workspace workspace_name output output_name
bindsym $mod+Shift+2 workspace "name with spaces" output output_not_quoted
bindsym $mod+Shift+3 workspace workspace_not_quoted output "output with spaces"
bindsym $mod+Shift+4 workspace "both have spaces" output "output both have spaces"
bindsym $mod+Shift+5 workspace "quotednospaces" output "outputquotednospaces"
